.container{
    background-color:lightcyan; 
    min-height: calc(100vh - 64px);
    width: calc(66.6667%);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1000px) { /*removes white borders*/
        width: 100%;
    }
}

.row {
    --bs-gutter-x: 0;
}

.popularFiction, .cookBooks, .sciFi, .nonFictionBooks, .biographyBooks, .selfHelpBooks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.875rem;
}

.welcoming {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 3.125rem;

    font-family: "Century Gothic", "Helvetica", sans-serif;
}

.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 1230px) {
        flex-direction: column; 
    }
    @media (max-width: 1000px) {
        flex-direction: row;
    }
    @media (max-width: 880px) {
        flex-direction: column;
    }
}
.welcome-text, .welcome{
    font-size: 6.25rem;
    margin: 0;
}
.back-text{
    margin: 0;
    margin-left: 2rem;
    font-size: 6.25rem;
    @media (max-width: 1230px) {
        margin-left: 0;
    }
    @media (max-width: 1000px) {
        margin-left: 2rem;
    }
    @media (max-width: 880px) {
        margin-left: 0;
    }
}

button, p {
    margin-top: 1.25rem;
    font-family: "Century Gothic", "Helvetica", sans-serif;
}

.buttons {
    margin: 1.875rem;
}

.loggedInButton {
    font-size: 1.0625rem;
    width: 12.5rem;
    height: 6.25rem;
    margin-right: 3.125rem;
    margin-left: 3.125rem; 
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
}
  
.section-wrapper p {
    margin: 0.5rem;
    margin-bottom: 0;
}

.books {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: none;
}
.books::-webkit-scrollbar{
    width: 0;
}

.books div {
    margin: 0.3125rem;
}

.book-container {
    width: 7.5rem;
    height: 11.25rem; 
    overflow: hidden;
    position: relative;
}


.book-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button{
    background-color: darkcyan !important;
    font-family: "Century Gothic", "Helvetica", sans-serif;
    padding: 1.5625rem;
    font-size: 0.9375rem;
}




@media (max-width: 1690px) {
    .book-container {
        width: 6rem;
        height: 9rem;
        margin: 0;
    }
    .container{
        padding: 0;
    }
    .books div {
        margin: 0.2rem;
    }
    .popularFiction, .cookBooks, .sciFi, .nonFictionBooks, .biographyBooks, .selfHelpBooks {
        margin: 0.5rem;
    }
    .buttons{
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 1350px) {
    .loggedInButton{
        margin: 1rem;
    }
    .books{
        justify-content:left;
        max-width: 652.5px;
        display: flex;
        overflow-x: auto;
    }
}

@media (max-width: 1230px) {
    .loggedInButton{
        width: 11rem;
        height: 5.5rem;
    }
    .middle-button{
        margin: 0.5;
    }
}

@media (max-width: 1000px) {
    .book-container {
        width: 6rem;
        height: 9rem;
    }
    .books{
        justify-content: center;
        max-width: none;
    }
}

@media (max-width: 880px) {
    .buttons{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .books{
        justify-content:left;
        max-width: 652.5px;
        display: flex;
        overflow-x: auto;
    }
}

@media (max-width: 660px) {
    .book-container {
        width: 5rem;
        height: 7.5rem;
    }
    .welcome, .welcome-text, .back-text{
        font-size: 5rem;
    }
    h2{
        font-size: 1.25rem;
    }
    button{
        width: 7rem;
        height: 1rem;
        font-size: 0.75rem;
        padding: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .loggedInButton{
        font-size: small;
        width: 7rem;
        height: 4rem;
    }
    .welcoming{
        padding-top: 1.5rem;
    }
    .books{
        max-width: 555px;
    }
}

@media (max-width: 560px) {
    .book-container {
        width: 6rem;
        height: 9rem; 
    }
    .popularFiction, .cookBooks, .sciFi, .nonFictionBooks, .biographyBooks, .selfHelpBooks {
        margin: 0;
    }
    .books{
        max-width: 430px;
    }
}

@media (max-width: 460px) {
    .book-container {
        width: 5rem;
        height: 7.5rem;
    }
    .welcome, .welcome-text, .back-text{
        font-size: 4.25rem;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: small;
        margin-bottom: -5rem;
    }
    .loggedInButton{
        margin: 0.25;
        width: 6.4rem;
    }
    .middle-button{
        margin: 0;
    }
    .books{
        max-width: 371px;
    }
}